@{
    ViewData["Title"] = "Home";
}

<h2>Bem-vindo à Home</h2>

<p>
    Clique no botão abaixo para acessar a tela de clientes:
</p>

<a asp-controller="Cliente" asp-action="Index" class="btn btn-primary">
    Tela de Clientes
</a>
